{{- $params := .Params -}}
<div class="l-postMeta__box">
  <div class="l-postMeta__element">
    {{ partial "post_meta/datetime" . }}
  </div>
  {{ if and (not .Params.hide_wordcount) (not .Site.Params.ui.wordcount_disable) -}}
  <div class="l-postMeta__element">
    {{ partial "templates/emoji" (dict "site" "word_count" "default" ":page_facing_up:") -}}
    <span class="c-postMeta -wordcount">{{ i18n "word_count" . -}}</span>
  </div>
  {{- end }}
  {{ if and (not .Params.hide_readingtime) (not .Site.Params.ui.readingtime_disable) -}}
  <div class="l-postMeta__element">
    {{ partial "templates/emoji" (dict "site" "reading_time" "default" ":coffee:") -}}
    <span class="c-postMeta -readingtime">{{ i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime) -}}</span>
  </div>
  {{- end }}
  {{ if and (not .Params.hide_author) (not .Site.Params.ui.author_enable) -}}
  {{- with (partial "functions/get_author" .) -}}
  <div class="l-postMeta__element">
    {{ partial "templates/emoji" (dict "param" $params.AuthorEmoji "site" "author" "default" ":writing_hand:") -}}
    <span class="c-postMeta -author">{{- . | markdownify -}}</span>
  </div>
  {{- end -}}
  {{- end }}
  {{ if and (not .Params.hide_categories) (not .Site.Params.ui.categories_disable) -}}
  {{- if .Param "categories" -}}
  <div class="l-postMeta__element">
    {{ partial "post_meta/categories" . }}
  </div>
  {{- end -}}
  {{- end }}
</div>
