{{- $class := "post-entry" }}
{{- if $.IsFirst }}
{{- if .Site.Params.homeInfoParams | or .Site.Params.disableSpecial1stPost}}
{{- partial "home_info.html" . }}
{{- else }}
{{- $class = "first-entry" }}
  {{- end }}
  {{- else if .term }}
  {{- $class = "post-entry tag-entry" }}
  {{- end }}
{{- with .content }}
<article class="{{ $class }}">
  {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList)}}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
    <header class="entry-header">
      <h2>
        {{ .Title }}
        {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
      </h2>
    </header>
  </a>
  {{- partial "post_meta/translations" . -}}
  {{- if (not .Site.Params.summary_disable)}}
  <a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
    <section class="entry-content">
      <p>{{ .Description | htmlUnescape }}</p>
      <hr/>
      <p>{{ .Summary | plainify | htmlUnescape }}...</p>
    </section>
  </a>
  {{- end }}
  <footer class="entry-footer">
    <div class="l-postMeta__wrapper">
      {{- partial "post_meta/info" . -}}
    </div>
    {{- if and (not .Params.hide_category) (not .Site.Params.ui.category_disable) }}
    {{- if .Param "categories" }}
    <div class="l-postMeta__wrapper">
      {{- partial "post_meta/categories" . }}
    </div>
    {{- end }}
    {{- end }}
    {{- if and (not .Params.hide_tags) (not .Site.Params.ui.tags_disable) }}
    {{- if .Param "tags" }}
    <div class="l-postMeta__wrapper">
      {{- partial "post_meta/tags" . }}
    </div>
    {{- end }}
    {{- end }}
  </footer>

  {{/*  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"> </a>  */}}
</article>
{{- end }}