{{- $pageurl := .Permalink -}}
{{- $title := .Title -}}
{{- $description := .Description -}}
{{- $summary := .Summary -}}
{{- $image := .Params.cover.image -}}

{{- $.Scratch.Set "tags" "" -}}

{{- with .Params.Tags -}}
  {{- $hashtags := newScratch -}}
  {{- range . -}}
    {{- $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . )) -}}
  {{- end -}}
  {{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") -}}
{{- end -}}

{{- $shareurl := .Site.Data.shareurl -}}
{{ with site.Params.Share -}}
  <div class="share-buttons">
    {{ range $index := . -}}
      {{- with (index $shareurl $index) -}}
        {{- $href := replace . "{{ .title }}" $title -}}
        {{- $href = replace $href "{{ .pageurl }}" $pageurl -}}
        {{- $href = replace $href "{{ .tags }}" ($.Scratch.Get "tags") -}}
        {{- $href = replace $href "{{ .summary }}" ($description | default $summary ) -}}
        {{- $href = replace $href "{{ .image }}" ($image | absURL) -}}
        {{- $href = replace $href "{{ .siteurl }}" ("" | absURL) -}}
        <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on {{ $index }}" href="{{ $href }}">
          <i class="c-icon -share ri-{{ $index }}-fill ri-lg"></i>
        </a>
      {{- end }}
    {{- end }}
  </div>
{{ end -}}
